
.Header{
    width: 100%;
    background-color: #c0e4f3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}
.logoBlock{
    display: flex;
    font-size: 30px;
    align-items: center;
}
.Title{
    margin-left: 15px;
}
.logoBlock img{
    max-width: 100px;
}


.loginBlock a{
    text-decoration: none;
    color: black;
}



